body{
  font-family: helvetica, sans-serif;
}

.relative{
  position: relative;
  left: 20px;
  top: 5px;
}

.container{
  position: relative;
}

.absolute{
  position: absolute;
  top: 0;
}

.fixed{
  position: fixed;
  bottom: 5px;
  right: 10px;
}

.pwr_lvl1{
  z-index: 1;
}


